* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text {
    flex: 0 0 580px;
    padding: 170px 0 170px 0;
}

h1 {
    color: #FAF9F9;
    font-weight: 800;
    font-size: 120px;
    line-height: 140px;
    text-transform: uppercase;
}

h1 span {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #FBB731;
    display: block;
    margin-bottom: 10px;
}

p {
    font-family: Lato, sans-serif;
    font-size: 19px;
    line-height: 1.4;
    color: #DEDEDE;
    margin: 40px 0 42px 0;
}

a {
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
}

.burger {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

img {
    width: 829px;
    position: absolute;
    right: -169px;
}
